html, body {
    width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	color: rgb(255, 255, 255);
	font-family: 'Roboto', 'Noto Sans JP', sans-serif;
	font-weight: 300;
}

h1{
	font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-size: 2.5rem;
}

h3{
	font-family: 'Roboto', 'Noto Sans JP', sans-serif;
	font-weight: 400;
}

a{
	font-family: 'Roboto', 'Noto Sans JP', sans-serif;
	font-weight: 400;
}

.topimage{
	width: 100%;
	height: 100%;
	z-index: 1;
}

.topimage img{
	width: 100%;
	height: 100%;
}

footer{
	display: flex;
	flex-wrap: wrap; 
	height: 280px;
	background-color: #0b0707;
	background-image: url("../image/bgimage2.png");
	align-items: center;
}

footer .left{
	text-align: center;
}

footer img{
	width: 200px;
	height: 200px;
}
