ul.ddmenu{
	margin: 0 0 0 0;
	padding: 0 0 0 15px;
	border: 0;
	background-color: #111010;
}

ul.ddmenu li{
	width: 120px;
	display: inline-block;
	list-style-type: none;
	position: relative;
}

ul.ddmenu a{
	background-color: #111010;
	color: white;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	display: block;
}

ul.ddmenu ul{
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
}

ul.ddmenu a:hover{
	background-color: #878282;
	color: #000000;
}

ul.ddmenu li:hover ul{
	display: block;
}
